<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:component-scan base-package="com.yahoo.bullet.rest">
        <context:exclude-filter type="regex" expression="com.yahoo.bullet.rest.service.ThriftService" />
    </context:component-scan>
    <context:annotation-config />

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:default.properties</value>
                <!-- You can override the defaults with a custom file placed in the env variable below -->
                <value>file:${bullet.service.configuration.file}</value>
            </list>
        </property>
    </bean>

    <bean id="columnService" class="com.yahoo.bullet.rest.service.FileSchemaService">
        <constructor-arg value="${columns.schema.version}" />
        <constructor-arg value="${columns.file}" />
    </bean>

    <bean id="pubSub" class="com.yahoo.bullet.pubsub.PubSub" factory-method="from">
        <constructor-arg>
            <bean id="config" class="com.yahoo.bullet.BulletConfig">
                <constructor-arg value="${pubsub.config.file}"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="pubSubService" class="com.yahoo.bullet.rest.service.PubSubService">
        <constructor-arg ref="pubSub" />
        <constructor-arg value="${pubsub.number.consumers}" />
        <constructor-arg value="${pubsub.number.publishers}" />
        <constructor-arg value="${pubsub.consumer.sleep.time}" />
    </bean>
</beans>
